@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
    margin: 0;
    height: 100vh;
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 600px 1fr;
}

#tandem-ad {
    place-items: right;
}

#game-container {
    align-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 20vh 20vh 40vh;
    justify-items: center;
}

.hidden {
    display: none;
}

.game-menu {
    justify-self: center;
}

#gameLogo {
    grid-row: 1-2;
    width: 90%;
}

#startBtn {
    grid-row: 4;
    width: 30%;
    z-index: 1;
}

#startBtn:hover {
    cursor: pointer;
}

#glcanvas {
    grid-row: 1-3;
    width: 90%;
    margin: 5%;
    background-color: rgb(172, 172, 172);
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.8));
    border-radius: 5px;
}

#location {
    width: 90%;
    grid-row: 4;
    border-radius: 5px;
    border: solid 1px black;
    margin: 5%;
    background-color: rgb(172, 172, 172);
    text-align: center;
    font-size: 40px;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
}

.game-btn-container {
    display: none;
}

.decor {
    position: absolute;
    top: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

#pub-left {
    margin-top: 35vh;
    margin-left: 5vw;
    width: 15%;
}

#pub-right {
    margin-right: 5%;
    height: 80%;
}

.vignes {
    z-index: 1;
    width : 40vw;
}

.icon {
    position: absolute;
    width: 50px;
    bottom: 0;
    margin: 50px;
}

@media (max-width: 1000px) {
    .container {
        grid-template-columns: 1fr;
    }

    #festival-ad, #tandem-ad {
        display: none;
    }

    #game-container {
        width: 100%;
        grid-template-rows: repeat(5, 20vh);
    }

    #glcanvas {
        margin-top: 0;
        grid-row: 1;
    }

    .game-btn-container {
        grid-row: 4;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 90%;
        align-items: center;
    }

    .game-btn-container > img {
        width: 200px;
        height: 200px;
    }

    .game-btn-container > img:hover {
        width: 200px;
        height: 200px;
    }

    #location {
        grid-row: 5;
    }

    body {
        background-position-x: -1100px;
    }

    .vignes {
        width: 100vw;
    }

    .hidden {
        display: none;
    }
}